.movie-list {

    width: 85vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    grid-gap: 10px;
    padding-top: 30px;
    @media screen and (max-width: 768px){
      grid-template-columns: 1fr 1fr 1fr;
      margin-top: 0;
    }
    @media screen and (max-width: 500px){
      grid-template-columns: 1fr 1fr;
    }

  }
  